/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    /* gap: 16px; */

    #heading {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    h1 {
        font-weight: 350;
    }
}

header form {
    
    input {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        border: none;
        outline: 1px solid #BFBFBF;
    }

    input#filter-item {
        background-color: #F5F5F5;
        border-bottom: 1px solid #BFBFBF;
        outline: none;
    }
}

/* Main Content */
main {
    margin-top: 32px;

    .form-control:has(button#delete-all) {
        margin-top: 32px;
    }
}

/* Shopping List */
main ul#shopping-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    li {
        font-weight: bold;
        text-transform: capitalize;
    }

    li span {
        color: red;
        display: inline-block;
        font-size: 2.5rem;
        line-height: 0;
        font-weight: bold;
        transform: rotate(45deg);
    }

    li span:hover {
        cursor: pointer;
    }

    .item-card {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    border: 1px solid #BFBFBF;
    padding: 12px;
    overflow-wrap: anywhere;
    }
}

/* Utilities */
/* Container */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 16px;
}

.hidden {
    display: none;
}

.form-control {
    margin-top: 18px;
}

/* Buttons */
.btn {
    cursor: pointer;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 12px;
    font-weight: bold;
    border: none;
    width: 125px;
}

.btn-add {
    background-color: #2AA63E;
}

.btn-add:hover {
    background-color: #178236;
}

.btn-clear {
    background-color: #45556C;
}

.btn-clear:hover {
    background-color: #314158;
}

.btn-update {
    background-color: #2984D1;
}

.btn-delete {
    background-color: #E7180B;
    width: 100%;
}

.btn-delete:hover {
    background-color: #C11007;
}

.buttons-group {
    display: flex;
    gap: 16px;
}


